@media all and (min-width: 1024px){
    #skills {
        position: relative; /* Set position relative for the pseudo-element */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.7px #c5a459 solid;
        background-color: #0D1117;
        background-image: linear-gradient(120deg,rgba(13, 17, 23,0.6) 40%, rgba(14, 96, 248, 0.3) 80%);
        // background-color: #f6faff;
        // background-image: linear-gradient(30deg,rgba(251, 253, 255, 0.9) 100%, rgba(255, 255, 255, 0.9) 100%);
        .container{
            width: 90%;
            display: flex;
            align-items: flex-start;
            .text-container{
                width: 50%;
                border-right: 0.3px rgba(143, 143, 143, .7) dotted;
                padding-top: 4em;
                padding-bottom: 4em;
                .section-name{
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #ffffff;
                    background-color: #ffffff1a;
                    border: 1px rgb(201, 201, 201) solid;
                    padding: 5px 10px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    letter-spacing: .6px;
                    margin-bottom: 15px;
                    font-weight: 500;
                }
                p{
                    font-size: 1rem;
                    color: rgb(255, 255, 255);
                }
                .skills-filter{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                    padding-left: 0px !important; 
                    .selected{
                        background-color: #004182;
                        color: white;
                        padding-left: 1.08rem!important;
                        padding-right: 1.08rem!important;
                        border-radius: 1.6rem;
                        p{
                            font-weight: 600;
                            color: rgb(255, 255, 255) !important;
                        }

                    }  
                    .filter{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 8px;
                        padding-right: 0.8em;
                        padding-left: 0.8em;
                        // border: #4f83c6 1px solid;
                        border: 1px #acacac solid;
                        border-radius: 1.6rem;
                        p{
                            font-weight: 600;
                            color: white;

                        }
                        .select{
                            width: 100%;
                            height: 8px;
                            border: 0.8px #8f8f8f solid;
                            display: none;
                            color: white;
                        }
                    }
                }
            }
            .image-hero{
                height: 100%;
                position: relative;
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                .skills-list{
                    padding-top: 4em;
                    padding-bottom: 4em;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    animation: .5s ease-out forwards fadeIn;
                    li{
                        list-style-type: none;
                        .skills-card{
                            background: var(--bg-secondary);
                            width: 80px;
                            height: 80px;
                            display: grid;
                            place-items: center;
                            box-shadow: 0 0 1em rgba(0,0,0,.1);
                            border-radius: 12px;
                            position: relative;
                            border: 1px #acacac solid;
                            &:hover{
                                .info{
                                    display: flex;
                                    top: -40px;
                                }
                            }

                            cursor: help;
                            .info{
                                display: none;
                                position: absolute;
                                top: -120px;
                                min-width: max-content;
                                color: #8a05ff;
                                font-size: 15px;
                                padding: 5px 10px;
                                border-radius: 4px;
                                transform: translateY(-10px);
                                transition: 1.3s ease-in-out;
                                z-index: 1;
                                font-size: 18px;
                                font-weight: 600;
                                background-color: #6c5ce71a;
                                border-bottom: none !important;
                            }
                            .card-icon{
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 100%;
                                }
                                .icone{
                                    font-size: 3em;
                                    color: #004182;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}
@media all and (max-width: 1024px) and (min-width: 720px){
    #skills {
        position: relative; /* Set position relative for the pseudo-element */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.7px #c5a459 solid;
        background-color: #0D1117;
        background-image: linear-gradient(120deg,rgba(13, 17, 23,0.6) 40%, rgba(14, 96, 248, 0.3) 80%);
        .container{
            width: 90%;
            display: flex;
            align-items: flex-start;
            .text-container{
                width: 50%;
                border-right: 0.3px rgba(143, 143, 143, .7) dotted;
                padding-top: 4em;
                padding-bottom: 4em;
                .section-name{
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #4f83c6;
                    background-color: #6c5ce71a;
                    padding: 5px 10px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    letter-spacing: .6px;
                    margin-bottom: 15px;
                    font-weight: 500;
                }
                p{
                    font-size: 1.1rem;
                    color: white;
                }
                .skills-filter{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                    padding-left: 0px !important;  
                    .selected{
                        background-color: #004182;
                        color: white;
                        padding-left: 1.08rem!important;
                        padding-right: 1.08rem!important;
                        border-radius: 1.6rem;

                    }  
                    .filter{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 8px;
                        padding-right: 0.8em;
                        padding-left: 0.8em;
                        p{
                            font-weight: 600;
                            color: white;

                        }
                        .select{
                            width: 100%;
                            height: 8px;
                            border: 0.8px #8f8f8f solid;
                            display: none;
                        }
                    }
                }
            }
            .image-hero{
                height: 100%;
                position: relative;
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                .skills-list{
                    padding-top: 4em;
                    padding-bottom: 4em;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    animation: .5s ease-out forwards fadeIn;
                    li{
                        list-style-type: none;
                        .skills-card{
                            background: var(--bg-secondary);
                            width: 80px;
                            height: 80px;
                            display: grid;
                            place-items: center;
                            box-shadow: 0 0 1em rgba(0,0,0,.1);
                            border-radius: 12px;
                            position: relative;
                            &:hover{
                                .info{
                                    display: flex;
                                    top: -40px;
                                }
                            }

                            cursor: help;
                            .info{
                                display: none;
                                position: absolute;
                                top: -120px;
                                min-width: max-content;
                                color: #ffffff;
                                font-size: 15px;
                                padding: 5px 10px;
                                border-radius: 4px;
                                transform: translateY(-10px);
                                transition: 1.3s ease-in-out;
                                z-index: 1;
                                font-size: 18px;
                                font-weight: 600;
                                background-color: #6c5ce71a;
                                border-bottom: none !important;
                            }
                            .card-icon{
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 100%;
                                }
                                .icone{
                                    font-size: 3em;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media all and (max-width: 720px) and (min-width: 320px){
    #skills {
        position: relative; /* Set position relative for the pseudo-element */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.7px #c5a459 solid;
        background-color: #0D1117;
        background-image: linear-gradient(120deg,rgba(13, 17, 23,0.6) 40%, rgba(14, 96, 248, 0.3) 80%);
        .container{
            width: 90%;
            display: flex;
            align-items: flex-start;
            .text-container{
                width: 50%;
                border-right: 0.3px rgba(143, 143, 143, .7) dotted;
                padding-top: 4em;
                padding-bottom: 4em;
                .section-name{
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #4f83c6;
                    background-color: #6c5ce71a;
                    padding: 5px 10px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    letter-spacing: .6px;
                    margin-bottom: 15px;
                    font-weight: 500;
                }
                p{
                    font-size: 1.1rem;
                    color: white;
                }
                .skills-filter{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                    padding-left: 0px !important;  
                    .selected{
                        background-color: #004182;
                        color: white;
                        padding-left: 1.08rem!important;
                        padding-right: 1.08rem!important;
                        border-radius: 1.6rem;

                    }  
                    .filter{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 8px;
                        padding-right: 0.8em;
                        padding-left: 0.8em;
                        p{
                            font-weight: 600;
                            color: white;

                        }
                        .select{
                            width: 100%;
                            height: 8px;
                            border: 0.8px #8f8f8f solid;
                            display: none;
                        }
                    }
                }
            }
            .image-hero{
                height: 100%;
                position: relative;
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                .skills-list{
                    padding-top: 4em;
                    padding-bottom: 4em;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    animation: .5s ease-out forwards fadeIn;
                    li{
                        list-style-type: none;
                        .skills-card{
                            background: var(--bg-secondary);
                            width: 60px;
                            height: 60px;
                            display: grid;
                            place-items: center;
                            box-shadow: 0 0 1em rgba(0,0,0,.1);
                            border-radius: 12px;
                            position: relative;
                            &:hover{
                                .info{
                                    display: flex;
                                    top: -40px;
                                }
                            }

                            cursor: help;
                            .info{
                                display: none;
                                position: absolute;
                                top: -120px;
                                min-width: max-content;
                                color: #fbfbfb;
                                font-size: 15px;
                                padding: 5px 10px;
                                border-radius: 4px;
                                transform: translateY(-10px);
                                transition: 1.3s ease-in-out;
                                z-index: 1;
                                font-size: 18px;
                                font-weight: 600;
                                background-color: #6c5ce71a;
                                border-bottom: none !important;
                            }
                            .card-icon{
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 100%;
                                }
                                .icone{
                                    font-size: 2.2em;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media all and (max-width: 420px){
    #skills {
        position: relative; /* Set position relative for the pseudo-element */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.7px #c5a459 solid;
        background-color: #0D1117;
        background-image: linear-gradient(120deg,rgba(13, 17, 23,0.6) 40%, rgba(14, 96, 248, 0.3) 80%);
        .container{
            width: 90%;
            display: flex;
            align-items: flex-start;
            .text-container{
                width: 50%;
                border-right: 0.3px rgba(143, 143, 143, .7) dotted;
                padding-top: 4em;
                padding-bottom: 4em;
                .section-name{
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #4f83c6;
                    background-color: #6c5ce71a;
                    padding: 5px 10px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    letter-spacing: .6px;
                    margin-bottom: 15px;
                    font-weight: 500;
                }
                p{
                    font-size: 1.1rem;
                    color: white;
                }
                .skills-filter{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                    padding-left: 0px !important;  
                    .selected{
                        background-color: #004182;
                        color: white;
                        padding-left: 1.08rem!important;
                        padding-right: 1.08rem!important;
                        border-radius: 1.6rem;

                    }  
                    .filter{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 8px;
                        padding-right: 0.8em;
                        padding-left: 0.8em;
                        p{
                            font-weight: 600;
                            color: white;

                        }
                        .select{
                            width: 100%;
                            height: 8px;
                            border: 0.8px #8f8f8f solid;
                            display: none;
                        }
                    }
                }
            }
            .image-hero{
                height: 100%;
                position: relative;
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                .skills-list{
                    padding-top: 4em;
                    padding-bottom: 4em;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    animation: .5s ease-out forwards fadeIn;
                    li{
                        list-style-type: none;
                        .skills-card{
                            background: var(--bg-secondary);
                            width: 60px;
                            height: 60px;
                            display: grid;
                            place-items: center;
                            box-shadow: 0 0 1em rgba(0,0,0,.1);
                            border-radius: 12px;
                            position: relative;
                            &:hover{
                                .info{
                                    display: flex;
                                    top: -40px;
                                }
                            }

                            cursor: help;
                            .info{
                                display: none;
                                position: absolute;
                                top: -120px;
                                min-width: max-content;
                                color: #ffffff;
                                font-size: 15px;
                                padding: 5px 10px;
                                border-radius: 4px;
                                transform: translateY(-10px);
                                transition: 1.3s ease-in-out;
                                z-index: 1;
                                font-size: 18px;
                                font-weight: 600;
                                background-color: #6c5ce71a;
                                border-bottom: none !important;
                            }
                            .card-icon{
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 100%;
                                }
                                .icone{
                                    font-size: 2.2em;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}