

@media all and (min-width: 520px){
    .login{
        width: 100%;
        position: relative;
        right: 0;
        top: 0;
        height: 70px;
        transition: all 0.13s ease-in-out;
        border-bottom: 0.7px #8f8f8f solid;
        display: flex;
        z-index: 3;
        background-color: #ffffff;
        .container{
            margin: auto;
            width: 90%;
            height: 100%;
            display: flex;
            margin: auto;
            position: relative;
            align-items: center;
            justify-content: space-between;
            .logo-container{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                border-right: 0.7px rgba(2, 15, 32, 0.2) solid;
                padding-left: 1em;
                padding-right: 1em;
                color: #4f83c6;
                h1{
                    margin-bottom: 0px !important;
                    margin-top: 0px !important;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                }
                p{
                    margin-bottom: 0px !important;
                    margin-top: 0px !important;
                    color: rgb(17, 17, 17);
                }
            }
            .login-container{
                text-align: center;
                justify-self: flex-end;
                display: flex;
                align-items: center;
                z-index: 10;
                top: 0px;
                flex-grow: 2;
                //box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 16px -4px;
                background-color: #ffffff;
                list-style-type: none;
                height: 100%;
        
                .connexion{
                    height: 100%;
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // width: 50%;
                    gap: 3px;
                    border-right: 0.7px rgb(255, 255, 255) solid;
                    &:hover{
                        background-color: rgba(255, 255, 255, 1);
                        .link{
                            color: rgba(0, 31, 71, 0.8);
                        }
                    }
                    .link{
                        width: 100%;
                        margin: 0px;
                        color: rgba(0, 31, 71, 0.8);
                        font-size: 1.3rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.8rem;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
        
                }
                .register{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // width: 50%;
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                    // gap: 3px;
                    border-right: 0.7px rgba(2, 15, 32, 0.2) solid;
                    &:hover{
                        background-color: rgba(255, 255, 255, 1);
                        .link{
                            color: rgba(2, 15, 32, 0.8);
                        }
                    }
                    .link{
                        width: 100%;
                        margin: 0px;
                        color: rgba(0, 31, 71, 0.8);
                        font-size: 0.8rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
                }
                .separator{
                    width: 1px;
                    margin: auto;
                    background-color: rgb(253, 253, 253);
                    z-index: 4;
                    height: 40%;
                    position: absolute;
                }
            }
        }

    }
    .scroll{
        width: 100%;
        background-color: white;
        position: fixed;
        right: 0;
        top: 0;
        height: 50px;
        z-index: 100;
        transition: all 0.4s ease-in-out;
        .container{
            width: 90%;
            height: 100%;
            display: flex;
            margin: auto;
            position: relative;
            align-items: center;
            column-gap: 20px;
            justify-content: space-between;
            .burger{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-grow: 2;
                column-gap: 12px;
                padding-left: 1.5rem;
                border-left: 0.8px #001E3C solid;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                color: #001E3C;
                .icone{
                    font-size: 1.6em;
                    color: #001E3C;
    
                }
            }
            .logo-container{
                height: 100%;
                display: flex;
                .logo{
                    width: 90px;
                    margin: auto;
                }
            }
            .login-container{
                text-align: center;
                justify-self: flex-end;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
                top: 0px;
                //box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 16px -4px;
                background-color: white;
                list-style-type: none;
                height: 100%;
        
                .connexion{
                    height: 50%;
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    gap: 3px;
                    border-right: 0.7px black solid;
                    .link{
                        margin: 0px;
                        color: rgb(0, 31, 71);
                        font-size: 1.3rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.8rem;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
        
                }
                .register{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                    gap: 3px;
                    border-right: 0.7px black solid;
                    .link{
                        margin: 0px;
                        color: rgb(0, 31, 71);
                        font-size: 0.8rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
                }
                .separator{
                    width: 1px;
                    margin: auto;
                    background-color: black;
                    z-index: 4;
                    height: 40%;
                    position: absolute;
                }
            }
        }
    }
} 
@media all and (max-width: 520px){
    .login{
        width: 100%;
        position: relative;
        right: 0;
        top: 0;
        height: 70px;
        transition: all 0.13s ease-in-out;
        border-bottom: 0.7px #8f8f8f solid;
        background-color: #0D1117;
        .container{
            width: 90%;
            height: 100%;
            display: flex;
            margin: auto;
            position: relative;
            align-items: center;
            column-gap: 20px;
            justify-content: center;
            .burger{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 12px;
                padding-left: 1.5rem;
                border-left: 0.8px #ffffff solid;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                color: #001E3C;
                .icone{
                    font-size: 1.6em;
                    color: #001E3C;
    
                }
            }
            .logo-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 1em;
                padding-right: 1em;
                color: #4f83c6;
                h1{
                    margin-bottom: 0px !important;
                    margin-top: 0px !important;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                }
                p{
                    margin-bottom: 0px !important;
                    margin-top: 0px !important;
                    color: rgb(255, 255, 255);
                }

            }
            .login-container{
                display: none;
                text-align: center;
                justify-self: flex-end;
                justify-content: center;
                align-items: center;
                z-index: 10;
                top: 0px;
                //box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 16px -4px;
                background-color: #0D1117;
                list-style-type: none;
                height: 100%;
        
                .connexion{
                    height: 50%;
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    gap: 3px;
                    border-right: 0.7px black solid;
                    .link{
                        margin: 0px;
                        color: rgb(255, 255, 255);
                        font-size: 1.3rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.8rem;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
        
                }
                .register{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                    gap: 3px;
                    border-right: 0.7px rgb(255, 255, 255) solid;
                    .link{
                        margin: 0px;
                        color: rgb(255, 255, 255);
                        font-size: 0.8rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
                }
                .separator{
                    width: 1px;
                    margin: auto;
                    background-color: rgb(255, 255, 255);
                    z-index: 4;
                    height: 40%;
                    position: absolute;
                }
            }
        }
    }
    .scroll{
        width: 100%;
        background-color: white;
        position: fixed;
        right: 0;
        top: 0;
        height: 50px;
        z-index: 100;
        transition: all 0.4s ease-in-out;
        .container{
            width: 90%;
            height: 100%;
            display: flex;
            margin: auto;
            position: relative;
            align-items: center;
            column-gap: 20px;
            justify-content: space-between;
            .burger{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 12px;
                padding-left: 1.5rem;
                border-left: 0.8px #001E3C solid;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                color: #001E3C;
                .icone{
                    font-size: 1.6em;
                    color: #001E3C;
    
                }
            }
            .logo-container{
                height: 100%;
                flex-grow: 2;
                display: flex;
                .logo{
                    height: 100%;
                }
            }
            .login-container{
                text-align: center;
                justify-self: flex-end;
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 10;
                top: 0px;
                //box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 16px -4px;
                background-color: white;
                list-style-type: none;
                height: 100%;
        
                .connexion{
                    height: 50%;
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    gap: 3px;
                    border-right: 0.7px black solid;
                    .link{
                        margin: 0px;
                        color: rgb(0, 31, 71);
                        font-size: 1.3rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.8rem;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
        
                }
                .register{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;
                    gap: 3px;
                    border-right: 0.7px black solid;
                    .link{
                        margin: 0px;
                        color: rgb(0, 31, 71);
                        font-size: 0.8rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                    .icone{
                        font-size: 1.3rem;
                    }
                }
                .separator{
                    width: 1px;
                    margin: auto;
                    background-color: black;
                    z-index: 4;
                    height: 40%;
                    position: absolute;
                }
            }
        }
    }
} 


